* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Audiowide', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

span {
  font-size: 2rem;
}

.day {
  background-image: url(./img/derevya_solnce_lug_den_14852_1600x1200.jpg);
  background-position: center;
  background-size: cover;
  color: burlywood;
}

.morning {
  background-repeat: no-repeat;
  background-image: url(./img/more_gorizont_nebo_rassvet_118892_1600x1200.jpg);
  background-position: center;
}

.night {
  background-image: url(./img/noch_temnyj_koster_149931_1600x1200.jpg);
  background-position: center;
  color: cornflowerblue;
  background-size: cover;
}

#time {
  font-size: 7rem;
  margin: 2rem;
}

#greeting {
  font-size: 3rem;
  display: inline;
}

#name {
  font-size: 3.3rem;
  font-weight: 900;
}

#focus {
  margin-top: 0;
}
